.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.b {
  padding-right: 30px;
}

.c {
  display: flex;
  margin-top: 8px;
}
